* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #3b5998;
	color: white;
	padding: 20px;
	text-align: center;
	display: flex;
}

.container {
	display: flex;
	flex-direction: row;
	height: 25.6rem;
}

/* ----------- Profile Header ----------- */
.chat-header {
	background-color: #3b5998;
	color: white;
	display: flex;
	align-items: center;
	padding: 20px;
	display: flex;
}

.chat-header img {
	border-radius: 50%;
	margin-right: 10px;
	width: 80px;
	height: 80px;
}

.login-logout-button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	cursor: pointer;
}

/* ----------- Chat List ----------- */
.img {
	/* border-radius: 50%;
	margin-right: 10px; */
	width: 17rem;
	height: 5rem;
	display: flex;
	background-color: #3b5998;
	color: white;
	padding: 15px;
	text-align: center;
}

.chat-list {
	flex: 1;
	width: 400px;
	background-color: #ffffff;
	padding: 20px;
	overflow-y: scroll;
}

.chat-list li {
	display: flex;
	align-items: center;
	padding: 10px;
}

.chat-list img {
	border-radius: 50%;
	margin-right: 10px;
	width: 50px;
	height: 50px;
}

.chat-list p {
	margin-left: 10px;
	color: grey;
	font-size: 1rem;
}

.chat-list ul li.active {
	background-color: #9a9999;
}

.chat-list ul li p {
	font-size: 14px;
}

.chat-list ul li .time {
	font-size: 12px;
}

.chat-list ul li {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* ----------- Chat Body ----------- */
#chat-window {
	flex: 3;
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	overflow-y: scroll;
}

.chat-body {
	flex: 1;
	background-color: #f2f2f2;
	padding: 20px;
	height: 70px;
}

.chat-body ul {
	list-style: none;
}

.chat-body li {
	margin-bottom: 10px;
}

.chat-field {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

.message img {
	max-width: 100%;
	border-radius: 50%;
	margin-right: 10px;
	width: 50px;
	height: 50px;
}

.square {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
}
  
.square.self {
	background-color: lightblue;
}
  
.square.other {
	background-color: White;
}

.sent {
	text-align: right;
}

.received {
	text-align: left;
}

.chat-footer {
	display: flex;
	background-color: #f2f2f2;
	padding: 20px;
	right: 0;
}

.chat-footer input[type="text"] {
	flex: 1;
	padding: 10px;
	font-size: 16px;
	border: none;
}

.chat-footer button {
	background-color: #3b5998;
	color: white;
	padding: 10px 20px;
	border: none;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
}


/* ----------- Footer ----------- */
#footer {
	text-align: center;
	background-color: #3b5998;
	height: 2rem;
	padding: 0.5rem;
}